body {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

#documentation {
  margin-left: 16px;
}

#documentation,
button {
  font-size: 16px;
}

canvas {
  display: block;
  margin: 0 auto;
}

h1, h3 {
  margin: 8px 0;
  padding: 0;
  text-align: center;
}

#sensors {
  text-align: center;
}

#sensors > h3 {
  display: inline-block;
}

#sensors > label,
.sensor-section > label {
  border: 1px solid #000000;
  margin-left: 16px;
}

#sensors > div {
  display: flex;
  justify-content: space-around;
}

.sensor-section > h4 {
  display: inline-block;
  margin: 8px 0;
}

.sensor-section > div {
  display: flex;
  grid-gap: 8px;
}

.sensor {
  cursor: pointer;
  border: 1px solid #000000;
}

.sensor.active,
.sensor.active input {
  background-color: #FED8B1;
}

.sensor > span {
  margin: 0 8px;
}

.sensor > input {
  cursor: pointer;
  text-align: right;
}

input {
  font-size: 16px;
	width: 30px;
}

#controls {
  margin: 8px 0;
  text-align: center;
}